@{
    ViewBag.Title = "Audio";
}

<div id="maincontainer">
	<div>
	    <h2>
		    <img src="@Url.Content("~/Content/images/see-logo.png")" alt="see-logo" />
		    <span>LE PARC</span>
	    </h2>
	    <div id="main-content">
		    <h3> AUDIO </h3>
            <p>
		        Syst&egrave;me de diffusion, consoles num&eacute;riques et analogiques, rack de traitement, retour, side. <br/><br/>
		        <a href="#" class="button rarr">VOIR LE CATALOGUE</a>
            </p>
	    </div>
    </div>
    <!-- Parc : audio -->
</div>
