@{
    ViewBag.Title = "Salle";
}

<div id="maincontainer">
	<!-- Parc : salles -->
	<div>
		<h2>
			<img src="@Url.Content("~/Content/images/see-logo.png")" alt="see-logo" />
			<span>LE PARC</span>
		</h2>
		<div id="main-content">
			<h3> SALLES </h3>
            <p>
			    <a href="#" class="button rarr">VOIR LE CATALOGUE</a>
            </p>
		</div>
	</div>
	<!-- Parc : salles -->
					
</div>