@{
    ViewBag.Title = "Formation";
}

<div id="maincontainer">
	<!-- KSA Prod : Formation -->
	<div>
		<h2>
			<img src="@Url.Content("~/Content/images/see-logo.png")" alt="see-logo" />
			<span>KSA PROD</span>
		</h2>
		<div id="main-content">
			<h3> FORMATION AUX M&Eacute;TIERS DU SON ET DE LA LUMI&Egrave;RE </h3>
            <p>
			    KSA PROD, planifie des formations continues et des ateliers autour des m&eacute;tiers du son, de l'&eacute;clairage 
			    sc&eacute;nique et de la video pour des passionn&eacute;s identifi&eacute;s et motiv&eacute;s.<br/>
			    Nous comptons, cr&eacute;er de l'&eacute;mulation dans notre secteur d'activit&eacute;, susciter des vocations, faire 
			    &eacute;merger des techniciens qualifi&eacute;s afin de combler les besoins croissants de professionnels reconnus dans 
			    notre pays et la sous-r&eacute;gion...<br/>
			    Les sessions seront prochainement disponibles dans la rubrique news...
            </p>
		</div>
	</div>
	<!-- KSA Prod : Formation -->
</div>
