@{
    ViewBag.Title = "Backline";
}

<div id="maincontainer">
	<!-- Parc : backline -->
	<div>
		<h2>
			<img src="@Url.Content("~/Content/images/see-logo.png")" alt="see-logo" />
            <span>LE PARC</span>
		</h2>
		<div id="main-content">
			<h3> BACKLINE </h3>
            <p>
			    Une vraie caverne d'instruments pour le bonheur des musiciens classique, jazz et vari&eacute;t&eacute;.<br/><br/>
			    <a href="#" class="button rarr">VOIR LE CATALOGUE</a>
            </p>
		</div>
	</div>
	<!-- Parc : backline -->

</div>
