@{
    ViewBag.Title = "Qui sommes-nous";
}

<div id="maincontainer">
	<!-- A propos -->
	<div>
		<h2>
			<img src="@Url.Content("~/Content/images/see-logo.png")" alt="see-logo" />
			<span> A PROPOS </span>
		</h2>
		<div id="main-content">
			<h3> QUI SOMMES-NOUS | NOS VALEURS </h3>
            <p>
			    Le socle de notre motivation, c'est la qualit&eacute;...
			    Des &eacute;quipements choisis sans concession, un investissement humain coh&eacute;rent, une bonne dose de savoir-faire 
			    associ&eacute;e &agrave; la passion de nos m&eacute;tiers : La gestion d'&eacute;v&eacute;nements, le spectacle, 
			    l'esth&eacute;tique du rendu visuel, les &eacute;motions f&eacute;eriques que cela induit, pour un r&eacute;sultat des 
			    plus professionnels.<br/><br/>
			    Nous avons la ma&icirc;trise de notre outil de travail avec des techniciens en formation permanente. <br/><br/>
			    Peu enclins aux effets de modes (<i>opportunistes sur toutes activit&eacute;s</i>), nous sommes des sp&eacute;cialistes pour 
			    qui, chaque projet requi&egrave;re une &eacute;coute particuli&egrave;re et des conseils pragmatiques, afin que nos 
			    r&eacute;ponses soient une forte valeur ajout&eacute;e de qualit&eacute;, en impact et en co&ucirc;t...<br/><br/>
			    Notre principale pr&eacute;occupation est de p&eacute;renniser nos relations sur le long terme, installer avec vous, un 
			    haut niveau de confiance, pour une r&eacute;ussite absolue de vos projets.
			    De la plus petite r&eacute;ception familiale, aux &eacute;v&eacute;nements grands publics, KSA &Eacute;V&Eacute;NEMENTIEL
			    d&eacute;tient les outils et les ressources pour satisfaire l'organisation de vos manifestations en 
			    s&eacute;curit&eacute;...
			    <br/><br/><br/>
			    Pour KSA &Eacute;V&Eacute;NEMENTIEL, la qualit&eacute; c'est du bon sens...

            </p>
		</div>
						
	</div>
	<!-- /A propos -->
</div>