@{
    ViewBag.Title = "Billetterie";
}

<div id="maincontainer">
	<!-- Services : Billeterie -->
	<div>
		<h2>
			<img src="@Url.Content("~/Content/images/see-logo.png")" alt="see-logo" />
			<span>SERVICES</span>
		</h2>
		<div id="main-content">
			<h3> BILLETTERIE &Eacute;LECTRONIQUE </h3>
            <p>
			    En liaison &eacute;troite avec les organisateurs d'&eacute;v&eacute;nements, nous mettons &agrave; votre disposition et 
			    g&eacute;rons pour votre compte, la vente de billets &eacute;lectroniques avec un acc&egrave;s internet vous offrant 
			    une visibilit&eacute; en temps r&eacute;el sur l'&eacute;volution de vos pr&eacute;ventes.<br/>
			    La simplicit&eacute; de notre syst&egrave;me r&eacute;side dans une gestion globale(vente et contr&ocirc;le avec un 
			    lecteur de code barre). Nous avons en plus l'avantage d'avoir rendu infalsifiable nos billets en PVC, s&eacute;curisant 
			    ainsi les pr&eacute;cieuses  recettes de votre production.
            </p>
		</div>
	</div>
	<!-- Services : Billeterie -->
</div>