@{
    ViewBag.Title = "Vente";
}

<div id="maincontainer">
	<!-- Services : vente -->
	<div>
		<h2>
			<img src="@Url.Content("~/Content/images/see-logo.png")" alt="see-logo" />
			<span>SERVICES</span>
		</h2>
		<div id="main-content">
			<h3> LA VENTE </h3>
            <p>
			    Tirez parti et  b&eacute;n&eacute;ficier de notre relation privil&eacute;gi&eacute;e avec les importateurs et 
			    distributeurs en mat&eacute;riel professionnel de son et lumi&egrave;re.<br/>
			    Soumettez nous vos demandes par le mail de contact.
            </p>
		</div>
	</div>
	<!-- Services : vente -->
</div>