@{
    ViewBag.Title = "Materiel";
}

<div id="maincontainer">
	<!-- Services : materiel -->
	<div>
		<h2>
			<img src="@Url.Content("~/Content/images/see-logo.png")" alt="see-logo" />
			<span>SERVICES</span>
		</h2>
		<div id="main-content">
			<h3> LOCATION DE MAT&Eacute;RIEL </h3>
            <p>
			    KSA dispose d'une multitude de r&eacute;f&eacute;rences r&eacute;pondant au standard de productions musicales 
			    am&eacute;ricaines et europ&eacute;ennes.<br/>
			    Visualisez notre catalogue dans la rubrique Le Parc.
            </p>
		</div>
	</div>
	<!-- Services : materiel -->
</div>